<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>contact</title>
  <link rel="stylesheet" href="/static/contact.css">
</head>
<body>
  <div class="contact-card">
    <div class="button-card">
      <button onclick=clickme()><a href="https://wa.me/qr/W33I5WVGME2WK1">WhatsApp direct</a></button>
      <button onclick=follow()><a href="https://whatsapp.com/channel/0029VaOe5HuKLaHjVPDUqQ18">WhatsApp channel</a></button>
      <button onclick=subscription()><a href="https://youtube.com/@KingsmartCyber?si=nmJ0wEdBA56EARme">YouTube channel</a></button>
      <button onclick=follow()><a href="https://github.com/kingsmartCyber">Github account</a></button>
      <button onclick=sorry()><a href="#">Instagram account</a></button>
      <button onclick=sorry()><a href="#">Twitter account</a></button>
      <button onclick=sorry()><a href="#">Facebook account</a></button>
      </div>
  </div>
  <script src="/static/script.js"></script>
</body>
</html>