<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <link rel="stylesheet" href="/static/test.css">
</head>
<body>
  <div class= "container">
    <header class="header">
      Kingsmart Cyber 
    </header>
  </div>
  <hr>
  <h1>VPN roll</h1>
    <p>The provided content is limited to some ISP [ Internet Service Providers ] or Carriers. 
    <br>
    <br>
    I provide VPN's to limited Locality. Other countries would be featured in the future. Be patient.
    <br>
    <br>
    Am sorry for any inconvenience caused but thats it.
    </p>
<hr>
  <h3>Kenyan's Finest</h3>
  <p><span><strong>ISP</strong></span>: Safaricom - Airtel - Telkom 
  <br>
  <br>
  IP Address: Static
  <br>
  <br>
  Tunnel app: Http Custom 
  </p>
  <br>
  <div class= "container1">
    <h2>Airtel Unlimited</h2>
    <a href="/static/img/Safcom1.hc" download onclick=handleClick() ><button type="submit" class="button1">Download</button></a>
  </div>
  <div class="container1">
    <h2>Saf Unlimited Udp</h2>
    <a href="/static/img/Safcom1.hc" onclick=handleClick() download="Safcom1.hc"><button type="submit" class="button1">Download</button></a>
  </div>
  <hr>
  <h4>How to Use HC file</h4>
  <p>
    <br>• Download http Custom app via Play store or App store
    <br>
    <br>• Allow app permissions 
    <br>
    <br>• Click on the plus [+] button on Htttp Custom 
    <br>
    <br>• Open config >> Local storage 
    <br>
    <br>• Now connect <progress></progress>
    <br>
    <pre class="prep">
      Note: Do not change any settings if you 
      don't know what you are doing 
    </pre>
    
  </p>
    
    
    
    <script src="/static/script.js"></script>
</body>
</html>